@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-9">Welcome</h1>
    <p><strong>In this website you can view three famous rock bands from different era.</strong></p>
</div>
