@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-9">Welcome</h1>
    <p><strong>In this website you can view three famous rock bands from different era.</strong></p>
</div>

<div class ="image">   
    <img class = "image1" src="https://i.pinimg.com/236x/a3/80/58/a380584783a05e16514b9c5ca7e82f0e--music-photo-music-rock.jpg">
</div>


<style>
    image{
        flex: 1 2 100rem;
    }
    img{
      width: 63%;
    padding-left: 25rem;
    }

</style>
