@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-9">Welcome</h1>
</div>

<div class ="image">   
    <img class = "image1" src="https://i.pinimg.com/236x/a3/80/58/a380584783a05e16514b9c5ca7e82f0e--music-photo-music-rock.jpg">
</div>

<div class="text-center">
    <h1>About</h1>
     <p><strong>In this website you can view what famous rock bands in the past revolved around on which are the companies they worked in,<br>the songs they have released, and the artists within the bands.<br>
            The three links in the website that is companies, songs and artists have an each database with details relating to the link.</strong></p>
</div>


<style>
    <!--Adjust the size of the image-->
    image{
        flex: 1 2 100rem;
    }
    img{
      width: 70%;
    padding-left: 25rem;
    }

</style>
