@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br>

<p><strong>Content References:</strong></p>

<br>

<br>

<a href ="https://metal.fandom.com/wiki/The_Jimi_Hendrix_Experience#:~:text=The%20Jimi%20Hendrix%20Experience%20was,was%20active%20until%20June%201969.">Metal Wiki The Jimi Hendrix Experience</a>

<br>

<br>

<a href ="https://www.britannica.com/topic/Nirvana-band">Britannica Nirvana</a>

<br>

<br>

<a href = "https://en.wikipedia.org/wiki/Linkin_Park">Wiki Linkin Park</a>